<html>
<head> 
<title>
    Networker
</title>
    <style>

           @media screen and (max-width :576px){
               .container{
                height: 230svh;

                background-color: blue; 
            }
            @media screen and (min-width:992px ){
                .container{
                height: 100vh;
                background-color: green;


            }}} 
        </style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body text-align="center" background="https://onecms-res.cloudinary.com/image/upload/s--jPsnKQY1--/f_auto%2Cq_auto/c_fill%2Cg_auto%2Ch_622%2Cw_830/v1/tdy-migration/2012-09-29t120000z_1353880106_gm1e89t1sf701_rtrmadp_3_dbs.jpg?itok=WHxTBG5G"><br>
<div class="container">
<br> 
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header" style="text-align: center;">
    <h4 class="card-title mt-2">Profile</h4>
</header>
<div class="card-body">
    <div style="text-align: center;">
        <p style:text-align="center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSViTfYNR_j1pQo7rVX__kOk3gb9bSMFkkLzA&usqp=CAU" style="border-radius: 50%;">
        </p>
    </div>
    <form>
    <div class="form-row">
        <div class="col form-group">
            <label><b>First name</b></label> 
            <div class="input-group form-group">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <label class="form-control">Charlotte</label>        
            </div>  
        </div> 
        <div class="col form-group">
            <label><b>Last name</b></label>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <label class="form-control">Amelia</label>        
            </div>
        </div>
    </div> 
    <div class="form-row">
        <div class="col form-group">
            <label><b>Designation</b></label>   
              <div class="input-group form-group">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-business-time"></i></span>
                </div>
                <label class="form-control">Networker</label>        
            </div>
        </div> 
        <div class="col form-group">
            <label><b>Phone Number</b></label>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <label class="form-control">9876543290</label>    
            </div>
        </div>
    </div> 
    <div class="form-group">
        <label><b>Email address</b></label>
        <div class="input-group form-group">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <label type="email" class="form-control">networker@gmail.com</label>        
            </div>
    </div>  
     <div class="col form-group">
        <label><b>Employee Id</b></label>
        <div class="input-group form-group">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                </div>
                <label class="form-control">567976</label>    
        </div>
    </div>
    <div class="form-group">
        <button type="submit" (click)="continue()" class="btn btn-primary btn-block">Continue</button>
    </div>         
</form> 
<!--<div class="border-top card-body text-center"><b>Thank You!!!!</b></div>-->
</div> 
</div> 
</div>
</div>
</div>
</body>
</html>













