<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
<div class="sender1" style="text-align: center;">
<div class="a" style="text-align: center;"><label for="date"><b>Date:</b></label><input type="date" placeholder="Enter current_date" id="date" name="date" required></div><br>
<div class="a" style="text-align: center;"><label for="sname"><b>Enter Sender Name:</b></label><input type="text" placeholder="Enter Sender Name" id="sname" name="sname" required></div><br>
<div class="a" style="text-align: center;"><label for="sacc"><b>Enter Sender Account number</b></label><input type="text" placeholder="Enter sender account_number" id="sacc" name="sacc" required></div><br>
<div class="a" style="text-align: center;"><label for="rname"><b>enter receiver's Name</b></label><input type="text" placeholder="receiver's Name" id="rname" name="rname" required></div><br>
<div class="a" style="text-align: center;"><label for="racc"><b>enter receiver Account number</b></label><input type="text" placeholder="Receiver Account_number" id="racc" name="racc" required></div><br>
<div class="a" style="text-align: center;"><label for="Amount"><b>enter Amount</b></label><input type="text" placeholder="sending amount" id="samount" name="samount" required></div><br>
<div class="a" style="text-align: center;"><button (click)=send() style="background-color: rgb(119, 87, 236); color: aliceblue;">Send Amount</button></div> 
<div class="a" style="text-align: center;"><button (click)=Download1() style="background-color: black; color: aliceblue;">Download</button></div> 

</div> 
</div> 


</body>
</html>