<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-row" style="text-align: center;">
        <div class="col form-group">
            <label><b>Date : </b>17/08/2022 </label><br>  
            <label><b>Sender Account number:</b>13645221972859 </label> <br> 
            <label><b>Sender Name:</b> ANUPAMA N</label><br>
            <label><b>BIC:</b>ABBLINBBXXX</label><br> 
            <label><b>Receiver Account number:</b>14783038759432 </label><br>  
            <label><b>Receiver Name:</b>ANANTHAMURTHY SHAMASUNDARA</label><br>  
            <label><b>BIC:</b>ACBLINBBXXX</label><br> 
            <label><b>clear_Balance:</b>12345</label><br> 
        </div> 
        <div class="border-top card-body text-center"><b>Thank You!!!!</b></div>
        </div>
    
</body>
</html>